* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --brand-color-light: #60A5FA;
  --brand-color-dark: #1D4ED8;
  --bg-color: #0F172A;
  --stroke-color: #1E293B;
  --text-color-primary: #F1F5F9;
  --text-color-secondary: #CBD5E1;

  --font-family: "Archivo", sans-serif;
  --h1: 800 1.5rem/135% var(--font-family);
  --h2: 800 1rem/140% var(--font-family);
  --h3: 800 .875rem/140% var(--font-family);
  --text-span: 600 .875rem/145% var(--font-family);
  --text: 400 1rem/140% var(--font-family);
  --text-sm: 400 .875rem/160% var(--font-family);

}

body {
  font: var(--text);
  color: var(--text-color-primary);
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: var(--brand-color-light);
}

h1, h2, h3 {
  font: inherit;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1280px;
  padding-inline: 2rem;
  margin-inline: auto;
}

main {
  margin-top: 2.5rem;
  row-gap: 5rem;
  column-gap: 2rem;

  grid-template-columns: 2fr 30%;

  grid-template-areas: 
  "featured featured"
  "weekly weekly"
  "ai aside";
}

@media (max-width: 56.25rem) {
  .container {
    padding-inline: 1.5rem;
  }

  main {
    row-gap: 3rem;
    grid-template-columns: 1fr;
    grid-template-areas:
      "featured"
      "weekly"
      "ai"
      "aside";
  }
}

@media (max-width: 37.5rem) {
  body {
    display: flex;
    flex-direction: column;
  }

  header.container {
    order: 2;
  }

  main {
    order: 1;
  }

  .container {
    padding-inline: 1rem;
  }

  main {
    margin-top: 1.5rem;
    row-gap: 2.5rem;
  }
}

.content-tag {
  display: inline-block;
  background-color: var(--brand-color-dark);
  padding: .25rem .5rem;
  border-radius: .25rem;
  font: 500 .625rem/1.2 var(--font-family);
  text-transform: uppercase;
  letter-spacing: 0.04em;
  color: var(--text-color-primary);
  box-shadow: 0px .25rem 1rem rgba(2, 6, 23, 0.25);
}
