#primary {
  padding-block: 1.25rem;

  div {
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: .875rem;
  border: solid 1px var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

@media (max-width: 56.25rem) {
  #secondary {
    grid-auto-flow: row;
    row-gap: .75rem;
    justify-items: start;
  }
}

@media (max-width: 37.5rem) {
  #primary {
    padding-block: 1rem;
    gap: .75rem;

    div strong {
      font-size: .875rem;
    }
  }

  #secondary {
    padding-block: .75rem;
    grid-auto-flow: column;
    column-gap: 1rem;
    justify-content: center;
    overflow-x: auto;
    white-space: nowrap;
  }
}
